{% extends "base.html" %}

{% block main-container %}

<div class="container container shadow p-3 mb-5 bg-body rounded" name="contenedor-principal" id="contenedorClientes">
    <h2>Clientes</h2>
    <hr>
    <div class="row">
      <div class="form-group col-md-12">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <th>IdCliente</th>
            <th>Nombre Completo</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Eliminar</th>
          </thead>
          <tbody id="tbl_clientes">
            {% if contactos %}
              {% for contacto in contactos %}
              <tr>
                <td>{{ contacto.IdContacto }}</td>
                <td>{{ contacto.NombreCompleto }}</td>
                <td>{{ contacto.Email }}</td>
                <td>{{ contacto.Telefono }}</td>
                <td>
                  <a class="btn btn-outline-success" href="/crearVehiculo/?idCliente={{ contacto.IdContacto }}">Administrar Vehiculos</a>
                </td>
              </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}