{% extends "base.html" %}

{% block main-container %}

<div class="container container shadow p-3 mb-5 bg-body rounded" name="contenedor-principal" id="contenedorContactos">
    <h2>Edici&oacute;n de contacto</h2>
    <hr>
    <div class="row">
      <div class="form-group col-md-12">
        <form method="POST" class="row g-3" action="{% url 'edit-contacto' %}">
          {% csrf_token %}
          
          <div class="col-md-6">
            <input value="{{ contacto.IdContacto }}" name="idContacto" type="text" hidden>
            <label for="nombreContacto" class="form-label">Nombre</label>
            <input type="text" name="nombreContacto" class="form-control" id="nombreContacto" value="{{ contacto.Nombre }}">
          </div>
          <div class="col-md-6">
              <label for="apellidoContacto" class="form-label">Apellido</label>
              <input type="text" name="apellidoContacto" class="form-control" id="apellidoContacto" value="{{ contacto.Apellido }}">
          </div>
          <div class="col-md-6">
              <label for="emailContacto" class="form-label">Email</label>
              <input type="email" name="emailContacto" class="form-control" id="emailContacto" value="{{ contacto.Email }}">
          </div>
          <div class="col-md-6">
              <label for="telefonoContacto" class="form-label">Tel&eacute;fono</label>
              <input type="text" name="telefonoContacto" class="form-control" id="telefonoContacto" value="{{ contacto.Telefono }}">
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-outline-primary" id="guardarGrupoGasto">Guardar</button>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}